<div class="row">
  <div class="col-sm-12">
    <div class="form-group row text-right">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="sellerModalShow()">New Seller</button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ba-card baCardClass="with-scroll">
      <div class="row">

        <div class="col-sm-12 horizontal-scroll">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == givenname">title</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == givenname">Given Name</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == middlename">Middle Name</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == familyname">Family Name</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == suffix">Suffix</th>
              <th>Display Name</th>
              <th>Company Name</th>
              <th>Job Title</th>
              <th>image</th>
              <th>Gender</th>
              <th>Birth Date
              <th>Contact</th>
              <th>Address</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == note">Note</th>
              <th *ngFor="let colValue of headerRow" [hidden]="colValue == stetus">Stetus</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </ba-card>
  </div>
</div>

