<!--<p>-->
  <!--invoice works!-->
<!--</p>-->

<ba-card>
  <form #form="ngForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-3">
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="invoiceNo" class="control-label">Invoice No</label>
                  <input [(ngModel)]="no" type="text" id="invoiceNo" class="form-control" disabled [ngModelOptions]="{standalone: true}">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="date" class="control-label">Invoice Date<span class="required">*</span></label>
                  <!--<input value="{{ date | date: 'yyyy-MM-dd' }}" (ngModelChange)="date = $event" [value]="date | date:'yyyy-MM-dd'" type="date" id="date" required class="form-control">-->
                  <input [(ngModel)]="humanDate" type="date" id="date" required class="form-control" [ngModelOptions]="{standalone: true}">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group" [ngClass]="{'has-error': (!customer.valid && customer.touched), 'has-success': (customer.valid && customer.touched)}">
                  <label for="customer" class="control-label">Customer<span class="required">*</span></label>
                  <select [(ngModel)]="customerId" #customer="ngModel" id="customer" class="form-control" required [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let customer of customers" value="{{ customer.id }}">{{ customer.displayName }}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="memo" class="control-label">Memo</label>
                  <textarea [(ngModel)]="memo" id="memo" name="memo" class="form-control" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group" [ngClass]="{'has-error': (!layoutId.valid && layoutId.touched), 'has-success': (layoutId.valid && layoutId.touched)}">
                  <label class="control-label">Layout<span class="required">*</span></label>
                  <select [(ngModel)]="layoutList.layoutId" #layoutId="ngModel" (change)="onChangeLayout(layoutList.layoutId)" class="form-control" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let layout of layouts" value="{{ layout.id }}">{{ layout.label }}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="size" class="control-label">Size</label>
                  <input [(ngModel)]="layoutList.size" type="text" id="size" class="form-control" [ngModelOptions]="{standalone: true}">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="price" class="control-label">Price</label>
                  <input [(ngModel)]="layoutList.price" type="number" id="price" class="form-control" [ngModelOptions]="{standalone: true}">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description" class="control-label">Description</label>
                  <textarea [(ngModel)]="layoutList.description" id="description" class="form-control" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                    <button [disabled]="!customer.value || !layoutId.value" type="button" class="btn btn-primary pull-right" (click)="onClickAdd()">Add</button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

  <br>

  <!--table-->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 4%">#</th>
          <th style="width: 10%">Layout</th>
          <th style="width: 15%">Size</th>
          <th style="width: 15%">Price</th>
          <th>Description</th>
          <!--<th style="width: 5%">Action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of layoutLists; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ row.layout }}</td>
          <td>{{ row.size }}</td>
          <td>{{ row.price | currency:'USD':true:'1.2-2' }}</td>
          <td>{{ row.description }}</td>
          <td style="width: 2%;">
            <a href="javascript:void(0)" class="danger" (click)="onClickClear(row.layoutId)"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>


  <br>
  <!--subtotal-->
  <div class="row">

    <div class="col-sm-8 offset-sm-6">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="pull-right">
                  <label class="control-label">SubTotal:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label">{{ getSubTotal() | currency:'USD':true:'1.2-2' }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <select [(ngModel)]="discountMethod" id="discountMethod" class="form-control" (change)="onChangeDiscountMethod(discountMethod)" [ngModelOptions]="{standalone: true}">
                  <option value="Percent">Discount Percent</option>
                  <option value="Value">Discount Value</option>
                </select>
              </div>
              <div class="col-sm-3">
                <input [(ngModel)]="discount" [disabled]="!discountMethod" (change)="onChangeDiscount($event.target.value)" type="number" class="form-control" id="discount" placeholder="{{ placeholderDiscount }}" [ngModelOptions]="{standalone: true}">
              </div>

              <div class="col-sm-6">
                <label class="control-label" id="discountValue">{{ discountValue | currency:'USD':true:'1.2-2' }}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="pull-right">
                  <label class="control-label">Grand Total:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label" id="grandTotal">{{ getGrandTotal() | currency:'USD':true:'1.2-2' }}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="pull-right">
                  <label class="control-label">Deposit:</label>
                </div>
              </div>
              <div class="col-sm-4">
                <input [(ngModel)]="deposit" (change)="onChangeDeposit(deposit)" type="number" class="form-control" id="deposit" placeholder="$" [ngModelOptions]="{standalone: true}" style="width: 60%">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="pull-right">
                  <label class="control-label">Balance:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label" id="balance">{{ getBalance() | currency:'USD':true:'1.2-2' }}</label>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="pull-right">
                  <button class="btn btn-primary" (click)="actionSave($event.preventDefault())">Save</button>
                </div>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default">Cancel</button>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>


</ba-card>
