@import "../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
form {
  .required {
    color: #f95372;
    margin-left: 2px;
  }
}