<div class="row">
    <div class="col-sm-12">
        <div class="form-group row text-right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" (click)="projectModalShow()">New project</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <ba-card baCardClass="with-scroll">
            <div class="row">

                <div class="col-sm-12 horizontal-scroll">
                      <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th>NAME</th>
                              <th>DESCRIPTION</th>
                              <th>ACTION</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of projects">
                              <td>{{ item.name }}</td>
                              <td>{{ item.description }}</td>
                              <td  *ngIf="!editing">
                                  <a class="btn btn-info" (click)="onEdit()">EDIT</a>
                                  <a href="" (click)="onDelete()">DELETE</a>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                </div>
            </div>
        </ba-card>
    </div>
</div>