<div class="row">
  <div class="col-sm-12">
    <div class="form-group row text-right">
      <div class="col-sm-12">
        <button class="btn btn-primary" (click)="onNewLayout()">New layout</button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ba-card baCardClass="with-scroll">
      <div class="row">

        <div class="col-sm-12 horizontal-scroll">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>LABEL</th>
              <th>PROJECT</th>
              <th>SIZE</th>
              <th>PRICE</th>
              <th>DESCRIPTION</th>
              <th>STATUS</th>
              <th>ACTION</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let layout of layouts; let i = index">
              <td>{{ layout.label}}</td>
              <td>{{ layout.project.name}}</td>
              <td>{{ layout.size}}</td>
              <td>{{ layout.price | currency:'USD':true:'4.2-2'}}</td>
              <td>{{ layout.description }}</td>
              <td>{{ layout.status }}</td>
              <td>
                <button type="button" class="btn btn-default" (click)="onEdit(layout)">Edit</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ba-card>
  </div>
</div>
<app-layout-modal #layoutModal (myEvent)="refreshList($event)"></app-layout-modal>