<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeaderSeller}}</h4>
    <button class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (submit)="onSubmit(form)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="displayName">Seller Name :</label>
            <input [(ngModel)]="sellers.displayName" type="text" class="form-control" id="displayName" placeholder="Seller name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="companyName">Company Name :</label>
            <input [(ngModel)]="sellers.companyName" type="text" class="form-control" id="companyName" placeholder="company name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title :</label>
            <input [(ngModel)]="sellers.jobTitle" type="text" class="form-control" id="jobTitle" placeholder="job title" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="gender">Gender :</label>
            <select [(ngModel)]="sellers.gender" class="form-control" id="gender" [ngModelOptions]="{standalone: true}">
              <option>Female</option>
              <option>Male</option>
            </select>
          </div>
          <div class="form-group">
            <label for="birthDate">Date Of Birth :</label>
            <input [(ngModel)]="sellers.birthDate" type="date" class="form-control" id="birthDate" placeholder="mm/dd/yyyy" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="contact">Contact :</label>
            <input [(ngModel)]="sellers.contact" type="text" class="form-control" id="contact" placeholder="contact" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
          <!--//////////////////-->
          <div class="col-md-6">
            <div class="form-group">
              <div class="offset-2">
                <ba-picture-uploader [picture]="modalHeaderSeller.picture" [defaultPicture]="defaultPicture"></ba-picture-uploader>
              </div>
              </div>
            <div class="form-group">
              <label>Address :</label>
              <input [(ngModel)]="sellers.address" type="text" class="form-control" id="steet" placeholder="steet" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="city" placeholder="city">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="regionnumber" placeholder="region number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="country" placeholder="country">
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" type="submit">Save</button>
  </div>
</div>